///////////////////////////////////////////////////
// GLOBAL

$bodyBg: #fff;
$overlay: rgba(0, 0, 0, 0.5);
$modal: rgba(0, 0, 0, 0.9);

$mainTextColor: #4e4e4e;
$secondaryTextColor: #707070;

$mainFontFamily: "Open Sans", sans-serif;

$btnBg: #3369d3;

///////////////////////////////////////////////////
// MEDIA QUERIES

$posChange: 1600px;
$spaceChange: 1400px;
$dropCol: 1200px;
$hide: 600px;
$menuHide: 450px;

///////////////////////////////////////////////////
// HEADERS

$headerFontFamily: "Cairo", sans-serif;
$mainHeadersTextColor: #000;

///////////////////////////////////////////////////
// SECTION HOME

$homeTextColor: #fff;

///////////////////////////////////////////////////
// SECTION SKILLS

$skillBaseColor: #554247;

///////////////////////////////////////////////////
// FOOTER

$footerBg: #e6e6e6;
$footerFontFamily: "Roboto", sans-serif;
