///////////////////////////////////////////////////
// GLOBAL

$bodyBg: #efefef;
$overlay: rgba(0, 0, 0, 0.5);

$mainTextColor: #4e4e4e;
$secondaryTextColor: #707070;

$mainFontFamily: "Open Sans", sans-serif;

$btnBg: #3369d3;

///////////////////////////////////////////////////
// MEDIA QUERIES

$poschangeWidth: 1600px;
$dropColWidth: 1200px;
$homeColWidth: 1010px;
$portfColWidth: 900px;
$menuUpWidth: 800px;
$menuNumHide: 900px;
$menuHide: 450px;

///////////////////////////////////////////////////
// HEADERS

$headerFontFamily: "Cairo", sans-serif;
$mainHeadersTextColor: #000;

///////////////////////////////////////////////////
// SECTION HOME

$homeTextColor: #fff;

///////////////////////////////////////////////////
// SECTION SKILLS

$skillBaseColor: #554247;

///////////////////////////////////////////////////
// FOOTER

$footerBg: #e6e6e6;
$footerFontFamily: "Roboto", sans-serif;
