.form {
  .container {
    background-image: url(../img/car-1.png), url(../img/car-2.png);
    background-position: bottom left, top right -120px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 600px;

    @media (max-width: $spaceMedium) {
      padding: 300px 0 250px 0;
      background-position: bottom right -250px, top left -180px;
      background-size: 500px;
    }

    h2 {
      margin: 0 0 20px 0;
    }

    p {
      margin: 0 0 15% 0;
    }

    form {
      z-index: 444;
      margin: 0 auto;
      max-width: 60%;
      padding: 7% 6% 6% 6%;
      background-color: #fff;
      box-shadow: 0 0 50px rgba($mainTextColor, 0.1);

      @media (max-width: $spaceMedium) {
        background-color: transparent;
        box-shadow: none;
        max-width: 100%;
      }

      .form-row {
        margin: 0 0 30px 0;

        &:last-child {
          margin: 0;
        }

        input[type="text"],
        input[type="email"],
        input[type="phone"] {
          width: 80%;
          padding: 15px;
          border-radius: 0;
          border: 1px solid rgba($mainTextColor, 0.25);
          outline: none;
          &:focus {
            border-color: $mainTextColor;
            border-radius: 0;
          }

          @media (max-width: $spaceMini) {
            width: 100%;
          }
        }

        input[type="radio"] {
          display: none;

          &:checked + .label-radio::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: $secondaryTextColor;
            border-radius: 50%;

            display: block;
            position: absolute;
            top: 6px;
            left: 6px;
          }
        }

        .label-radio {
          @include fluid-type(360px, 1360px, 14px, 20px);
          padding: 0 0 0 30px;
          margin: 0 30px 10px 0;
          font-size: 20px;

          display: inline-block;
          position: relative;

          &::before {
            content: "";
            width: 22px;
            height: 22px;

            border-radius: 50%;
            border: 1.5px solid $secondaryTextColor;

            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
