.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .container {
    font-family: $headerFontFamily;
    padding: 0;

    .navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      &.menu-open {
        padding: 30px 40px 15px 40px;

        position: relative;
        flex-direction: column-reverse;
        align-items: flex-end;
        .menu {
          position: fixed;
          z-index: 666;
          top: 0;
          left: 0;

          width: 100%;
          height: 100vh;
          padding: 50px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $mainHeadersTextColor;

          .menu-item {
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            padding: 30px 0;
            margin: 0;

            display: block;
            position: relative;

            &:nth-child(2) {
              border-top: 1px solid rgba($bodyBg, 0.25);
              border-bottom: 1px solid rgba($bodyBg, 0.25);
            }

            a {
              font-weight: 600;
            }
          }
        }
      }

      .menu {
        display: flex;

        @media (max-width: $menuHide) {
          display: none;
        }

        .menu-item {
          @media (max-width: $menuHide) {
            width: 100%;
            &:last-child {
              margin: 0;
              position: absolute;
              bottom: 50px;
              a {
                display: inline-block;
                padding: 20px 60px;
                background-color: $btnBg;
                text-transform: uppercase;
                font-family: $headerFontFamily;
                font-size: 18px;
                color: $homeTextColor;
              }
            }
          }
        }

        .menu-item {
          margin: 0 50px 0 0;
          font-size: 18px;

          a {
            color: $homeTextColor;
            font-weight: 700;
          }
        }
      }

      .logo {
        width: 50px;
        z-index: 777;
      }
    }

    .long-line {
      width: calc(100% - 75px);
      position: relative;
      z-index: 666;
    }

    .sub {
      position: relative;
      right: 75px;
      color: $homeTextColor;
      font-size: 16px;
      text-align: right;

      @media (max-width: $hide) {
        display: none;
      }
    }
  }
}
