.description {
  z-index: 1;
  .row {
    align-items: flex-start;
    .info {
      padding: 0 250px 0 200px;

      @media (max-width: 1850px) {
        padding: 0 150px 0 200px;
      }

      @media (max-width: $posChange) {
        padding: 0 75px 0 150px;
      }
    }
    .photos {
      display: flex;

      .col2to5 {
        align-self: flex-start;
        margin: -80px 0 0 0;
      }

      img {
        display: block;
      }
    }
  }
}
