.facts {
  z-index: 1;
  .row {
    align-items: flex-start;
    .photos {
      display: flex;

      .col2to5 {
        align-self: flex-end;
        margin: 0 0 -80px 0;
      }

      img {
        display: block;
      }
    }

    .info {
      position: relative;
      right: -150px;
      padding: 0 250px 0 0;

      @media (max-width: $posChange) {
        right: -75px;
        padding: 0 200px 0 0;
      }

      .facts-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .fact {
          width: calc(100% / 3);
          padding: 0 15px;
          margin: 0 0 30px 0;

          .num {
            font-family: $headerFontFamily;
            color: $mainHeadersTextColor;
            font-weight: 700;
            font-size: 12px;
            margin: 0 0 35px 0;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 1px;
              position: absolute;
              bottom: -11px;
              left: 0;
              background-color: $secondaryTextColor;
              opacity: 25%;
            }

            &::after {
              content: "";
              width: 10%;
              height: 1px;
              background-color: $secondaryTextColor;
              position: absolute;
              bottom: -11px;
              left: 0;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
