footer {
  background-color: $footerBg;
  font-family: $footerFontFamily;
  font-weight: 700;
  color: $mainTextColor;

  .container {
    @media (max-width: $container) {
      padding: 0 10%;
    }

    .social-media {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items: center;
      padding: 40px 0;

      @media (max-width: $dropCol) {
        justify-content: space-between;
      }

      @media (max-width: $spaceSmall) {
        padding: 70px 0 40px 0;

        h4 {
          width: 100%;
          margin: 0 0 30px 0;
        }
      }

      .media-items {
        display: flex;
        align-items: center;

        .item {
          width: 24px;
          height: 24px;
          margin: 0 30px 0 0;
          transition: 0.4s;

          a {
            svg {
              display: block;
              fill: $mainHeadersTextColor;
              width: 100%;
              transition: 0.4s;
              align-self: flex-start;
            }
            &:hover {
              svg {
                fill: $btnBg;
              }
            }
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .long-line {
      background-color: $mainHeadersTextColor;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 70px 200px 70px 0;
      margin: 0 -15px;

      @media (max-width: $dropCol) {
        padding: 70px 0;
      }

      .item {
        padding: 0 15px;

        @media (max-width: $spaceMedium) {
          width: 50%;
          margin: 0 0 70px 0;
        }

        @media (max-width: $spaceSmall) {
          width: 100%;
        }

        h4 {
          margin: 0 0 30px 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .data {
      background-color: $bodyBg;
    }

    h4 {
      font-family: $footerFontFamily;
      font-size: 20px;
      font-weight: 300;
      color: $mainTextColor;
      margin: 0 30px 0 0;
    }

    a {
      @include fluid-type(360px, 1360px, 12px, 14px);
      color: $mainTextColor;
      transition: 0.4s;

      &:hover {
        color: $btnBg;
      }
    }
  }
}
