/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.menu-open {
  overflow-y: hidden;
}

html.menu-open body {
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", sans-serif;
  line-height: 100%;
  margin: 0;
}

h1 {
  color: #fff;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
}

@media screen and (min-width: 360px) {
  h1 {
    font-size: calc(48px + 16 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  h1 {
    font-size: 64px;
  }
}

@media (max-width: 1360px) {
  h1 {
    text-transform: capitalize;
  }
}

h2 {
  color: #000;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

h2 {
  font-size: 24px;
}

@media screen and (min-width: 360px) {
  h2 {
    font-size: calc(24px + 12 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  h2 {
    margin: 0 0 40px 0;
  }
}

h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

h4 {
  font-size: 20px;
}

@media screen and (min-width: 360px) {
  h4 {
    font-size: calc(20px + 4 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  h4 {
    font-size: 24px;
  }
}

sup {
  font-size: 16px;
}

@media screen and (min-width: 360px) {
  sup {
    font-size: calc(16px + 6 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  sup {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 20px 0;
}

p.emphasize {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  line-height: 200%;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

p.emphasize {
  font-size: 16px;
}

@media screen and (min-width: 360px) {
  p.emphasize {
    font-size: calc(16px + 4 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  p.emphasize {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  p.emphasize {
    line-height: 150%;
    margin: 0 0 20px 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.lazy-img {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.container.max {
  max-width: 2000px;
}

.section {
  padding: 7% 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

@media (max-width: 1200px) {
  .section {
    padding: 10% 0;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 15% 0;
  }
}

.section-hidden {
  visibility: hidden;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  padding: 0 5px;
  margin: 0 0 10px 0;
}

.col2 {
  width: 50%;
}

@media (max-width: 1200px) {
  .col2 {
    width: 100%;
  }
}

.col3 {
  width: calc(100% / 3);
}

.col4 {
  width: 25%;
}

.col5 {
  width: 20%;
}

.col2to3 {
  width: calc(100% / 3 * 2);
}

.col2to5 {
  width: 40%;
}

.col3to5 {
  width: 60%;
}

button {
  border: none;
  outline: none;
  background: none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 90px;
  background-color: #0066b1;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

.btn {
  font-size: 14px;
}

@media screen and (min-width: 360px) {
  .btn {
    font-size: calc(14px + 6 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  .btn {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .btn {
    padding: 20px 60px;
  }
}

.btn:focus {
  outline: 0;
}

.btn:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.btn:hover {
  background: #710416;
  cursor: pointer;
}

.btn:hover:before {
  -webkit-transform: translateX(450px) skewX(-15deg);
          transform: translateX(450px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn:hover:after {
  -webkit-transform: translateX(450px) skewX(-15deg);
          transform: translateX(450px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.long-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 25%;
}

.hidden {
  display: none !important;
}

.bmw {
  text-transform: uppercase;
}

.model {
  display: inline-block;
  text-transform: uppercase;
}

.model::first-letter {
  text-transform: lowercase;
}

.date {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-bar .container {
  font-family: "Cairo", sans-serif;
  padding: 0;
}

.nav-bar .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

@media (max-width: 1360px) {
  .nav-bar .container .navigation {
    padding: 15px 10%;
  }
}

.nav-bar .container .navigation.menu-open {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-bar .container .navigation.menu-open .menu {
  position: fixed;
  z-index: 666;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}

.nav-bar .container .navigation.menu-open .menu .menu-item {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
  margin: 0;
  display: block;
  position: relative;
}

.nav-bar .container .navigation.menu-open .menu .menu-item:nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 600px) {
  .nav-bar .container .navigation.menu-open .menu .menu-item:last-child a {
    font-size: 14px;
  }
}

.nav-bar .container .navigation.menu-open .menu .menu-item a {
  font-size: 16px;
  font-weight: 600;
}

.nav-bar .container .navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .nav-bar .container .navigation .menu {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-bar .container .navigation .menu .menu-item {
    width: 100%;
  }
  .nav-bar .container .navigation .menu .menu-item:last-child {
    margin: 0;
    position: absolute;
    bottom: 50px;
  }
  .nav-bar .container .navigation .menu .menu-item:last-child a {
    display: inline-block;
    padding: 20px 60px;
    background-color: #0066b1;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    color: #fff;
  }
}

.nav-bar .container .navigation .menu .menu-item {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.nav-bar .container .navigation .menu .menu-item a {
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 15px 30px;
}

.nav-bar .container .navigation .menu .menu-item a:first-child {
  margin: 0 0 0 -30px;
}

.nav-bar .container .navigation .menu .menu-item a:hover {
  background-color: #0066b1;
  cursor: pointer;
}

.nav-bar .container .navigation .logo {
  width: 52px;
  z-index: 777;
}

@media (max-width: 600px) {
  .nav-bar .container .navigation .logo {
    width: 40px;
  }
}

.nav-bar .container .long-line {
  width: calc(100% - 75px);
  position: relative;
  z-index: 666;
}

@media (max-width: 1360px) {
  .nav-bar .container .long-line {
    width: calc(90% - 75px);
  }
}

.nav-bar .container .sub {
  position: relative;
  right: 75px;
  color: #fff;
  font-size: 16px;
  text-align: right;
}

@media (max-width: 1360px) {
  .nav-bar .container .sub {
    right: calc(10% + 75px);
  }
}

@media (max-width: 600px) {
  .nav-bar .container .sub {
    display: none;
  }
}

.hamburger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 888;
}

.hamburger.is-active {
  opacity: 70%;
  position: absolute;
  bottom: -40px;
  right: calc(10% + 5px);
}

.hamburger.is-active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

.hamburger.is-active::before {
  display: none;
}

.hamburger.is-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
}

.form .container {
  background-image: url(../../img/car-1.png), url(../../img/car-2.png);
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain;
}

@media (max-width: 800px) {
  .form .container {
    padding: 0;
  }
}

.form .container h2 {
  margin: 0 0 20px 0;
}

.form .container p {
  margin: 0 0 15% 0;
}

.form .container form {
  z-index: 444;
  margin: 0 auto;
  max-width: 60%;
  padding: 7% 6% 6% 6%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px rgba(78, 78, 78, 0.1);
          box-shadow: 0 0 50px rgba(78, 78, 78, 0.1);
}

@media (max-width: 800px) {
  .form .container form {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 100%;
  }
}

.form .container form .form-row {
  margin: 0 0 30px 0;
}

.form .container form .form-row:last-child {
  margin: 0;
}

.form .container form .form-row input[type="text"],
.form .container form .form-row input[type="email"],
.form .container form .form-row input[type="phone"] {
  width: 80%;
  padding: 15px;
  border-radius: 0;
  border: 1px solid rgba(78, 78, 78, 0.25);
  outline: none;
}

.form .container form .form-row input[type="text"]:focus,
.form .container form .form-row input[type="email"]:focus,
.form .container form .form-row input[type="phone"]:focus {
  border-color: #4e4e4e;
  border-radius: 0;
}

@media (max-width: 450px) {
  .form .container form .form-row input[type="text"],
  .form .container form .form-row input[type="email"],
  .form .container form .form-row input[type="phone"] {
    width: 100%;
  }
}

.form .container form .form-row input[type="radio"] {
  display: none;
}

.form .container form .form-row input[type="radio"]:checked + .label-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #707070;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
}

.form .container form .form-row .label-radio {
  padding: 0 0 0 30px;
  margin: 0 30px 10px 0;
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.form .container form .form-row .label-radio {
  font-size: 14px;
}

@media screen and (min-width: 360px) {
  .form .container form .form-row .label-radio {
    font-size: calc(14px + 6 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  .form .container form .form-row .label-radio {
    font-size: 20px;
  }
}

.form .container form .form-row .label-radio::before {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #707070;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.modal h2 {
  color: #fff;
  margin: 0 0 30px 0;
}

.modal p {
  margin: 0 0 100px 0;
}

.home {
  font-family: "Cairo", sans-serif;
  color: #fff;
  position: relative;
}

.home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.home .slider .splide__slide img {
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .slider .splide__pagination {
  z-index: 3;
  bottom: 90px;
  left: calc((100% - 1350px) / 2);
  right: auto;
}

@media (max-width: 1360px) {
  .home .slider .splide__pagination {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 25px;
  }
}

.home .slider .splide__pagination .splide__pagination__page {
  width: 60px;
  height: 15px;
  background-color: #fff;
  border-radius: 0;
  opacity: 100%;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home .slider .splide__pagination .splide__pagination__page.is-active {
  background-color: #0066b1;
  -webkit-transform: scale(0.9) skew(-30deg);
          transform: scale(0.9) skew(-30deg);
}

.home .slider .splide__pagination .splide__pagination__page:hover {
  background-color: #0066b1;
  -webkit-transform: scale(0.9) skew(-30deg);
          transform: scale(0.9) skew(-30deg);
}

.home .slider-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.home .slider-text .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 1360px) {
  .home .slider-text .container {
    padding: 0 10%;
  }
}

.home .slider-text .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .slider-text .container .header .logo {
  width: 90px;
  margin: 0 0 20px 0;
}

.home .slider-text .container .header p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.home .slider-button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.facts {
  z-index: 1;
}

.facts .container {
  padding: 0;
}

.facts .container .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.facts .container .row .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .facts .container .row .photos {
    margin: 0 0 200px 0;
    margin: 0 0 20% 0;
  }
}

@media (max-width: 600px) {
  .facts .container .row .photos {
    margin: 0 -10px 20%;
  }
}

.facts .container .row .photos .col2to5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 -10% 0;
}

.facts .container .row .photos img {
  display: block;
  border-top-left-radius: 10%;
}

.facts .container .row .info {
  position: relative;
  right: -7%;
  padding: 0 14% 0 0;
}

@media (max-width: 1200px) {
  .facts .container .row .info {
    right: auto;
    padding: 0 20% 0;
  }
}

@media (max-width: 600px) {
  .facts .container .row .info {
    padding: 0 10% 0;
  }
}

.facts .container .row .info .facts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.facts .container .row .info .facts-list .fact {
  width: calc(100% / 3);
  padding: 0 15px;
  margin: 0 0 60px 0;
}

@media (max-width: 1200px) {
  .facts .container .row .info .facts-list .fact {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 800px) {
  .facts .container .row .info .facts-list .fact {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .facts .container .row .info .facts-list .fact {
    width: 100%;
  }
}

.facts .container .row .info .facts-list .fact:hover .num::after {
  width: calc(100% + 7px);
}

.facts .container .row .info .facts-list .fact:hover .desc {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.facts .container .row .info .facts-list .fact .num {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Cairo", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 35px 0;
  position: relative;
}

.facts .container .row .info .facts-list .fact .num::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -11px;
  left: 0;
  background-color: #707070;
  opacity: 25%;
}

.facts .container .row .info .facts-list .fact .num::after {
  content: "";
  width: 0;
  height: 15px;
  background-color: #0066b1;
  position: absolute;
  bottom: -17px;
  left: -5px;
  z-index: 10;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.facts .container .row .info .facts-list .fact .desc {
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description {
  z-index: 1;
}

.description .container {
  padding: 0;
}

.description .container .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1200px) {
  .description .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.description .container .row .info {
  padding: 0 7% 0 14%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

@media (max-width: 1200px) {
  .description .container .row .info {
    padding: 0 20% 0;
  }
}

@media (max-width: 600px) {
  .description .container .row .info {
    padding: 0 10% 0;
  }
}

.description .container .row .info .emphasize {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description .container .row .info .emphasize:hover {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.description .container .row .info .emphasize:hover .quote {
  color: #fff;
}

.description .container .row .info .emphasize:hover .quote::after {
  width: 100%;
}

.description .container .row .info .emphasize .quote {
  position: relative;
  z-index: 999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description .container .row .info .emphasize .quote::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) skew(-30deg);
          transform: translateY(-50%) skew(-30deg);
  left: 4px;
  width: 0;
  height: 30px;
  background-color: #0066b1;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description .container .row .info .emphasize::after {
  content: "";
  background-color: #0066b1;
  height: 15px;
  width: 0;
  position: absolute;
  top: -30px;
  left: -5px;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.description .container .row .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .description .container .row .photos {
    margin: 0 0 10% 0;
  }
}

@media (max-width: 600px) {
  .description .container .row .photos {
    margin: 0 -10px 10%;
  }
}

.description .container .row .photos .col2to5 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: -10% 0 0 0;
}

.description .container .row .photos img {
  display: block;
  border-top-left-radius: 10%;
}

.gallery {
  padding: 0 5px;
}

@media (max-width: 450px) {
  .gallery {
    padding: 0 8px;
  }
}

@media (max-width: 450px) {
  .gallery .row .col {
    padding: 0 2px 0;
  }
}

.gallery .row .col.remove {
  padding: 0;
  margin: 0;
}

.gallery .row .col.modify {
  width: 50%;
}

@media (max-width: 450px) {
  .gallery .row .col {
    margin: 0 0 4px 0;
  }
}

footer {
  background-color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #4e4e4e;
}

@media (max-width: 1360px) {
  footer .container {
    padding: 0 10%;
  }
}

footer .container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

@media (max-width: 1200px) {
  footer .container .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  footer .container .social-media {
    padding: 70px 0 40px 0;
  }
  footer .container .social-media h4 {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

footer .container .social-media .media-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social-media .media-items .item {
  width: 24px;
  margin: 0 30px 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .container .social-media .media-items .item:last-child {
  margin: 0;
}

footer .container .social-media .media-items .item:hover {
  background-color: #0066b1;
}

footer .container .long-line {
  background-color: #000;
}

footer .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 200px 70px 0;
  margin: 0 -15px;
}

@media (max-width: 1200px) {
  footer .container .info {
    padding: 70px 0;
  }
}

footer .container .info .item {
  padding: 0 15px;
}

@media (max-width: 800px) {
  footer .container .info .item {
    width: 50%;
    margin: 0 0 70px 0;
  }
}

@media (max-width: 600px) {
  footer .container .info .item {
    width: 100%;
  }
}

footer .container .info .item h4 {
  margin: 0 0 30px 0;
}

footer .container .info .item:last-child {
  margin: 0;
}

footer .container .data {
  background-color: #fff;
}

footer .container h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #4e4e4e;
  margin: 0 30px 0 0;
}

footer .container a {
  color: #4e4e4e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .container a {
  font-size: 12px;
}

@media screen and (min-width: 360px) {
  footer .container a {
    font-size: calc(12px + 2 * ((100vw - 360px) / 1000));
  }
}

@media screen and (min-width: 1360px) {
  footer .container a {
    font-size: 14px;
  }
}

footer .container a:hover {
  color: #0066b1;
}

.splide__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
          animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.splide__track--fade > .splide__list {
  display: block;
}

.splide__track--fade > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: .9;
}

.splide__arrow:disabled {
  opacity: .3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: .5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}

@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}

@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}

@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}

.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: .5em;
  top: 0;
}

.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom, .glightbox-container .ginner-container.desc-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left, .glightbox-container .ginner-container.desc-right {
  max-width: 100% !important;
}

.gslide iframe, .gslide video {
  outline: 0 !important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: auto;
  touch-action: auto;
}

.gslide:not(.current) {
  pointer-events: none;
}

.gslide-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-touch-action: none;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-bottom .gslide-image img, .desc-top .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img, .desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
}

.gslide-image img.dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-transition: none;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
}

.gslide-video .plyr__poster-enabled.plyr--loading .plyr__poster {
  display: none;
}

.gslide-video .gvideo-wrapper {
  width: 100%;
  margin: auto;
}

.gslide-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
  margin: auto;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-transition: none;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}

.gslide-external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.desc-bottom .gslide-media, .desc-top .gslide-media {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.gslide-description.description-left, .gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom, .gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 19px 11px;
  max-width: 100vw !important;
  -webkit-box-ordinal-group: 3 !important;
  -ms-flex-order: 2 !important;
  order: 2 !important;
  max-height: 78vh;
  overflow: auto !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.75) 100%);
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: 700;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: .4;
}

.gdesc-open .gslide-media {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: .4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

.greset {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none !important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  -webkit-animation: lightboxLoader .8s infinite linear;
  animation: lightboxLoader .8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gclose, .gnext, .gprev {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gclose svg, .gnext svg, .gprev svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gclose.disabled, .gnext.disabled, .gprev.disabled {
  opacity: .1;
}

.gclose .garrow, .gnext .garrow, .gprev .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gclose, .glightbox-closing .gnext, .glightbox-closing .gprev {
  opacity: 0 !important;
}

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: 400;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: .86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.glightbox-clean .gclose path, .glightbox-clean .gnext path, .glightbox-clean .gprev path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}

.gfadeIn {
  -webkit-animation: gfadeIn .5s ease;
  animation: gfadeIn .5s ease;
}

.gfadeOut {
  -webkit-animation: gfadeOut .5s ease;
  animation: gfadeOut .5s ease;
}

.gslideOutLeft {
  -webkit-animation: gslideOutLeft .3s ease;
  animation: gslideOutLeft .3s ease;
}

.gslideInLeft {
  -webkit-animation: gslideInLeft .3s ease;
  animation: gslideInLeft .3s ease;
}

.gslideOutRight {
  -webkit-animation: gslideOutRight .3s ease;
  animation: gslideOutRight .3s ease;
}

.gslideInRight {
  -webkit-animation: gslideInRight .3s ease;
  animation: gslideInRight .3s ease;
}

.gzoomIn {
  -webkit-animation: gzoomIn .5s ease;
  animation: gzoomIn .5s ease;
}

.gzoomOut {
  -webkit-animation: gzoomOut .5s ease;
  animation: gzoomOut .5s ease;
}

@-webkit-keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 769px) {
  .glightbox-container .ginner-container {
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .glightbox-container .ginner-container.desc-top .gslide-description {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .glightbox-container .ginner-container.desc-top .gslide-image, .glightbox-container .ginner-container.desc-top .gslide-image img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .glightbox-container .ginner-container.desc-left .gslide-description {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .glightbox-container .ginner-container.desc-left .gslide-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .gslide-image img {
    max-height: 97vh;
    max-width: 100%;
  }
  .gslide-image img.zoomable {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  .zoomed .gslide-image img.zoomable {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .gslide-inline {
    max-height: 95vh;
  }
  .gslide-external {
    max-height: 100vh;
  }
  .gslide-description.description-left, .gslide-description.description-right {
    max-width: 275px;
  }
  .glightbox-open {
    height: auto;
  }
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
  .glightbox-clean .gslide-media {
    -webkit-box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.65);
  }
  .glightbox-clean .description-left .gdesc-inner, .glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }
  .glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev {
    background-color: rgba(0, 0, 0, 0.32);
  }
  .glightbox-clean .gclose:hover, .glightbox-clean .gnext:hover, .glightbox-clean .gprev:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .glightbox-clean .gprev {
    top: 45%;
  }
  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width: 992px) {
  .glightbox-clean .gclose {
    opacity: .7;
    right: 20px;
  }
}

@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}
